[Desktop Entry]
Name=Wakka
GenericName=Package Manager
GenericName[es]=Administrador de paquetes
Comment=Graphical package manager for Arch Linux based on yay
Comment[es]=Administrador gráfico de paquetes para Arch Linux basado en yay
Exec=wakka %U
Icon=wakka
Terminal=false
Type=Application
MimeType=application/vnd.archlinux.pkg.tar.zst;application/vnd.debian.binary-package;
Categories=System;PackageManager;
Keywords=package;manager;arch;aur;yay;install;update;
StartupNotify=true
StartupWMClass=wakka
X-GNOME-Autostart-enabled=true
